div#wrapper {
  width: 80%;
  margin: 0px auto;
  border: 1px solid black;
}

body {
  margin-top: 0px;
}

header {
  width: 100%;
}

header>img{
  width: 100%;
}

nav > ul {
  list-style: none;
  padding-left: 0px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

nav > ul > li {
  display: inline;
  border-right: 1px solid grey;
} 

nav > ul > li:last-of-type{
  border-right:none;
}

nav > ul > li > a{
  padding: 0 2.5em;
}

section#main {
  width: 75%;
  float: left;
  border-right: 1px solid grey;
}

aside {
  width: 25%;
  margin-left: 75%;
}

aside section {
  border-bottom: 1px solid grey;
  padding-left: 5px;
}

footer {
  clear: both;
  border-top: 1px solid grey;
}
